<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration><RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained><PublishAot>false</PublishAot><PublishTrimmed>false</PublishTrimmed>
    <PublishDir>$(MSBuildProjectDirectory)/../../support/artifacts/publish/web/</PublishDir>
  </PropertyGroup>
</Project>
